*{
    margin: 0px;
    padding: 0px;
}
.msg-container{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-left: 120px;
    font-size: 50px;
    color: yellow;
    
    
}

 .hide{
    display: none;
 }


body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    
}

.container{
    width: 400px;
    height: 400px;
    
    
}
.boxes{
    margin-left: 20px;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

}
.box{
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color:gold;
    color: red;
 
}
.box:hover{
    transform: translateY(-2s);
     box-shadow:0 6px 12px rgba(0, 0, 0, 0.1);
     cursor: pointer;

}

h1{
    display: flex;
    justify-content: center;
}
#reset-btn{
    padding: 20px;
    margin: 40px;
    margin-left: 155px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.1);

}
#new-game{
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

