*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: lightgrey;
    border: 0.1 thick lightgrey;

}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main{
    width: 550px;
    height: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    
}
h1{
    margin-left: 15px;
    font-size: 25px;
}
.p{
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 20px;
}
.email:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.email{
   margin-top: -30px;
    width: 480px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.inputs{
    margin-left: 15px;
    font-size: 20px;

}
.btns{
    margin-left:350px;
    margin-top: 18px;
    
}
#cancel:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
}
#cancel{
    margin-right: 10px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    background-color:  lightgrey;
    border: none;
    border-radius: 5px;
}
#search:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
}
#search{
    margin-left: 10px;
    width: 80px;
    font-size: 22px;
    height: 40px;
    background-color: rgb(64, 0, 255); 
    border-radius: 5px;
    color: white;
    border: none;
}