*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    border: 0.5px solid rgb(158, 156, 156);
    width: 450px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 20px;


    
    
}
h1{
    color: rgb(0, 72, 255);
    font-size: 70px;
    margin-left: 80px;   
}
#eml:hover{
    cursor: text;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
#eml{
    width: 400px;
    height: 45px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    
}
#pass:hover{
    cursor: text;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
#pass{
    width: 400px;
    height: 45px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
.log:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
.log{
    
    width: 400px;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 25px;
   margin-left: 20px;
   margin-top: 5px;
    background-color: rgb(0, 72, 255);
    color: white;
    text-align: center;
    border-color: rgba(211, 208, 208, 0.767);
}
p{
    
    font-size: 25px;
    display: flex;
    justify-content: center;
}
a{

    font-size: 23px;
    color: rgb(64, 0, 255);
    margin-left: 120px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;

}

.newac:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
.newac{
    background-color: rgb(30, 128, 0);
    
    width: 300px;
    height: 55px;
    font-size: 10px;
    border-radius: 10px;
    margin-left: 70px;
    align-content: center;
    color: white;

}
#linkac{
    color: white;
    display: flex;
    font-size: 25px;
    text-align: center;
    margin-left: 50px;

}